
<div class="form-section-wrapper">

	<span class="sub-heading">Where should we send your photos?</span>

	<div class="field-list clear">
	    <fieldset class="form-item fields address required">

	        <div class="field address1">
	            <label class="caption">Address <span class="required">*</span><input class="field-element field-control" id="address" name="address" x-autocompletetype="address-line1" type="text" spellcheck="false" data-title="Street address">
	            </label>
	        </div>
	        <div class="field city">
	            <label class="caption">City <span class="required">*</span><input class="field-element field-control" id="city" name="city" x-autocompletetype="city" type="text" spellcheck="false" data-title="City">
	            </label>
	        </div>
	        <div class="field state-province">
	            <label class="caption">State <span class="required">*</span><input class="field-element field-control" id="state" name="state" x-autocompletetype="state" type="text" spellcheck="false" data-title="State">
	            </label>
	        </div>
	        <div class="field zip">
	            <label class="caption">Post
	                Code <span class="required">*</span><input class="field-element field-control" id="postcode" name="postcode" x-autocompletetype="postal-code" type="text" spellcheck="false" data-title="Postcode">
	            </label>
	        </div>
	        <div class="field">
	            <label class="caption">Note: Pixy is only available to customers with an Australian postal address. <input id="country" name="country" type="hidden" data-title="Country" value="Australia">
	            </label>
	        </div>
	    </fieldset>
	</div>
</div>