
<div class="form-section-wrapper">
	<span class="sub-heading">A little about you...</span>

	<div class="field-list clear">

	    <fieldset class="form-item fields name required">
	        <legend>Your name</legend>

	        <div class="field first-name form-group">
	            <label class="caption">First Name
	                <input class="field-element field-control" id="fname" name="fname" x-autocompletetype="given-name" type="text" spellcheck="false" maxlength="30" data-title="First" required>
	            </label>
	        </div>
	        <div class="field last-name">
	            <label class="caption">Last
	                Name<input class="field-element field-control" id="lname" name="lname" x-autocompletetype="surname" type="text" spellcheck="false" maxlength="30" data-title="Last" required>
	            </label>
	        </div>
	    </fieldset>
	    <div class="form-item field text required">
	        <label class="title" for="email">Email address <span class="required">*</span></label>
	        <input class="field-element text" type="text" id="email" name="email" required>
	    </div>
	</div>
</div>