/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

$font-family-sans-serif: "futura-pt", Helvetica, Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 14px !default;

$font-size-h1: floor(($font-size-base * 2.6)) !default;
// ~36px
$font-size-h2: floor(($font-size-base * 2.15)) !default;
// ~30px
$font-size-h3: ceil(($font-size-base * 1.7)) !default;
// ~24px
$font-size-h4: ceil(($font-size-base * 1.25)) !default;
// ~18px
$font-size-h5: $font-size-base !default;
$font-size-h6: ceil(($font-size-base * 0.85)) !default;
// ~12px

//** By default, this inherits from the `<body>`.
$headings-font-family: inherit !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

body {
  font-family: "futura-pt", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.6em;
}

.content-area {

  padding: 80px 0;

  .center {
    text-align: center;
  }
}

.navbar, footer {
  height: 140px;
  background-color: #201a16;
  padding: 40px 20px;
}

h1 {

  color: #201a16;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.1em;
}

h2 {

  color: #201a16;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.1em;
}

.sub-heading {
  color: #f76218;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  font-style: normal;
  padding-bottom: 20px;
}

.btn {

  border-radius: 3px;
  box-shadow: 0px .2em 0px 0px #de4f08;
  background-color: #f76218 !important;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 13px;
  padding: 13px 19.5px;
  text-transform: uppercase;
}

.btn:hover {
  color: #FBB040 !important;
}

.btn:focus {
  color: #FFFFFF !important;
}

.btn-lg {
  font-size: 16px;
  line-height: normal;
}

.navbar-nav > li > a, footer {
  color: #ffffff !important;
  font-family: "futura-pt", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 13px;
  margin: 5px;
  text-transform: uppercase;
  text-align: center;

  a {
    color: #ffffff;
    text-decoration: none;
  }

  .footer-links {

    margin-bottom: 20px;

    li {
      display: inline;
      list-style-image: none;
      list-style-position: outside;
      list-style-type: none;
      padding: 0 10px;
    }
  }
}

.navbar-brand {
  padding: 0px;
  margin-left: 10px !important;
}

.navbar-right button {
  border: none;
  color: #fff;
}

.navbar-toggle:focus {
  background-color: transparent;
}

.icon-bar {
  clear: none;
  display: inline-block !important;
  background-color: #fff !important;
}

/** FORM STUFF **/

.control-label {
  font-weight: 300;
}

.form-control {
  width: 100%;
  padding: 12px;
  margin: 6px 0 4px;
  border: 1px solid #ccc;
  background: #fafafa;
  font-family: sans-serif;
  font-size: 12px;
  line-height: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
}

select {
  &.form-control {
    padding: 6px 12px;
  }
}


.form-section-wrapper {
  padding-bottom: 30px;
}

label {
  margin-top: 10px;
  margin-bottom: 0px;
}

/** SHARING **/
#share-url-field {
  font-size: 18px;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
