<div class="form-section-wrapper">
    <span class="sub-heading">A little about you...</span>

    <div class="field-list clear">
        <form id="customer-details" name="customerDetails" role="form" novalidate ng-cloak>
            <div class="row">
                <div class="col-sm-6">

                    <div class="form-group first-name inline-field-left" show-errors>
                        <label class="control-label" for="first-name">First Name <span class="required">*</span></label>
                        <input class="form-control"
                               id="first-name"
                               name="firstName"
                               x-autocompletetype="given-name"
                               type="text"
                               spellcheck="false"
                               maxlength="30"
                               data-title="First"
                               required
                               ng-model="user.firstName">

                        <p ng-show="(customerDetails.firstName.$invalid && !customerDetails.firstName.$pristine) || (customerDetails.firstName.$invalid && isValidated)" class="help-block">
                            Your first name is required.</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group last-name inline-field-right" show-errors>
                        <label class="control-label" for="last-name">Last Name <span class="required">*</span></label>
                        <input class="form-control"
                               id="last-name"
                               name="lastName"
                               x-autocompletetype="surname"
                               type="text"
                               spellcheck="false"
                               maxlength="30"
                               data-title="Last"
                               required
                               ng-model="user.lastName">

                        <p ng-show="(customerDetails.lastName.$invalid && !customerDetails.lastName.$pristine) || (customerDetails.lastName.$invalid && isValidated)" class="help-block">
                            Your last name is required.</p>
                    </div>
                </div>
            </div>
            <div class="form-group required" show-errors>
                <label class="control-label" for="email">
                    Email address <span class="required">*</span>
                </label>
                <input class="form-control text"
                       type="text"
                       id="email"
                       name="email"
                       required
                       ng-model="user.email">

                <p ng-show="(customerDetails.email.$invalid && !customerDetails.email.$pristine) || (customerDetails.email.$invalid && isValidated)" class="help-block">
                    Your email is required.</p>
            </div>
    </div>
</div>